<div class="LoginMain">
    <h1 class="MovieFLixLogo">MOVIEFLIX</h1>
    <div class="Form">
        <h2 class="FormHeader">Forgot your Password</h2>
        <hr>
        <div class="ForgotPassword">
            <div class="form-group">
                <label class="FormLabel" for="Email">Enter your Email</label>
                <input type="text" class="form-control" placeholder="Enter your email">
            </div>
            <div class="ForgotButton">
                <button type="submit" class="btn btn-info" onclick = window.location.href="login.html">Sending Email!</button>
            </div>
            <div class="SignInAgain">
                <a class="Link" ng-href="#/login">Sign In Again!</a>
            </div>
        </div>
    </div>
</div>