<div>
    <h1>MOVIEFLIX</h1>
    <div class="ForgotForm">
        <h2>Forgot your Password</h2>
        <hr>
        <div class="ForgotPassword">
            <div class="form-group">
                <label for="Email">Enter your Email</label>
                <input type="text" class="form-control" placeholder="Enter your email">
            </div>
            <div class="ForgotButton">
                <button type="submit" class="btn btn-info" onclick = window.location.href="login.html">Sending Email!</button>
            </div>
            <div class="SignInAgain">
                <a ng-href="#/login">Sign In Again!</a>
            </div>
        </div>
    </div>
</div>