<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/movieflix">MOVIEFLIX</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/movieflix">Home</a></li>
            <li class=""><a href="#">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span> {{movieSearchVm.username}}</a></li>
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="MovieFlix-Dashboard" xmlns="http://www.w3.org/1999/html">
    <div class="MovieflixForm">
        <img class="MoviePoster" ng-repeat="movie in movieSearchVm.searchedMovieList" ng-src={{movie.poster}}
             ng-click="movieSearchVm.showMovieDetails(movie.id)" />
    </div>
</div>