<div class="MovieFlix-Dashboard">
    <ul>
        <li><div class="MovieflixLogo">MOVIEFLIX</div></li>
        <li><a class="active" href="#home">Browse</a></li>
        <li><div class="search"><input type="search" results></div></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Neha Banthia</a>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#" onclick=window.location.href="login.html">Logout</a>
            </div>
        </li>
    </ul>
        <div class="MovieflixForm">
            <img ng-repeat="movie in movieflixDashboardVm.latestMovies" ng-src={{movie.poster}}/>
        </div>
</div>