
<div ng-controller="NavBarController">
    <ul>
        <li ng-click="navbarVm.home()"><div class="MovieflixLogo">MOVIEFLIX</div></li>
        <li><a class="active" href="#home">Browse</a></li>
        <li><div class="search"><input type="text" ng-model="navbarVm.movieSearch" />
            <input type="button" value="Search" ng-click="navbarVm.searchMovie()"/></div></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">{{navbarVm.username}}</a>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Logout</a>
            </div>
        </li>
    </ul>
</div>
