<div>
    <h1>MOVIEFLIX</h1>
    <div class="SignUpForm">
        <h2>Sign Up Now</h2>
        <p>Already a user? Please <a ng-href="#/login"><em><b>Sign In</b></em></a> here.</p>
        <hr>
        <form name="signUpForm" novalidate>
            <div class="SignUpData">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" name="firstName" ng-model="signupVm.firstName" placeholder="Enter your Firstname" required="">
                    <div class="ValidationError" ng-show="signUpForm.$submitted || signUpForm.firstName.$touched">
                        <div ng-show="signUpForm.firstName.$error.required">Please enter you first name.</div>
                    </div>
                    <input type="text" class="form-control" name="lastName" ng-model="signupVm.lastName" placeholder="Enter your Lastname" required="">
                    <div class="ValidationError" ng-show="signUpForm.$submitted || signUpForm.lastName.$touched">
                        <div ng-show="signUpForm.lastName.$error.required">Please enter you last name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" name="uEmail" ng-model="signupVm.email" placeholder="Enter your email" required="">
                    <div class="ValidationError" ng-show="signUpForm.$submitted || signUpForm.uEmail.$touched">
                        <span ng-show="signUpForm.uEmail.$error.required">Please enter your email.</span>
                        <span ng-show="signUpForm.uEmail.$error.email">This is not a valid email.</span>
                    </div>

                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="text" class="form-control" name="pword" ng-model="signupVm.password"
                           placeholder="Enter your password" ng-minlength="8" ng-maxlength="20"
                           ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"required="">
                    <div class="ValidationError" ng-show="signUpForm.$submitted || signUpForm.pword.$touched">
                        <div ng-show="signUpForm.pword.$error.required">Please enter you password.</div>
                        <div ng-show="!signUpForm.pword.$error.required &&
                            (signUpForm.pword.$error.minlength || signUpForm.pword.$error.maxlength) &&
                            signUpForm.pword.$dirty">Passwords must be between 8 and 20 characters.</div>
                        <div ng-show="!signUpForm.pword.$error.required && !signUpForm.pword.$error.minlength &&
                        !signUpForm.pword.$error.maxlength && signUpForm.pword.$error.pattern && signUpForm.pword.$dirty">
                            Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="text" class="form-control" name="confirmPassword" ng-model="signupVm.confirmPassword"
                           placeholder="Enter your password" valid-password-c required="">
                    <div class="ValidationError" ng-show="signUpForm.$submitted || signUpForm.confirmPassword.$touched">
                        <div ng-show="signUpForm.confirmPassword.$error.required">Please confirm your password.</div>
                        <div ng-show="!signUpForm.confirmPassword.$error.required &&
                                        signUpForm.confirmPassword.$error.noMatch &&
                                        signUpForm.confirmPassword.$dirty">Passwords do not match.</div>
                    </div>
                </div>
            </div>
            <div class="SignUpButton">
                <input type="submit" class="btn btn-info" ng-click="signupVm.signUpUser()" value="Sign Up"/>
            </div>
        </form>

    </div>
</div>
