<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../Style/forgot.css"/>
    </head>
    <body>
        <h1>MOVIEFLIX</h1>
        <div class="ForgotForm">
            <h2>Forgot your Password</h2>
            <hr>
            <div class="ForgotPassword">
                <div class="form-group">
                    <label for="Email">Enter your Email</label>
                    <input type="text" class="form-control" placeholder="Enter your email">
                </div>
                <div class="ForgotButton">
                    <button type="submit" class="btn btn-info" onclick = window.location.href="login.html">Sending Email!</button>
                </div>
                <div class="SignInAgain">
                    <a href="login.html">Sign In Again!</a>
                </div>
            </div>
        </div>
    </body>
</html>