<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyMovieWorld</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Style/index.css"/>
</head>
<body>
<h1>MOVIEFLIX</h1>


    <div class="start">
        <button type="button" class="btn btn-primary" onclick= window.location.href="login.html">Start</button>
    </div>


</body>
</html>