.LoginData {
    margin: 0rem 2rem 0px 2rem;
}
.SignInForm
{
    margin: 0rem 2rem 0px 2rem;
}
.ValidationError{
    color:red;
    font-style: italic;
}
.LoginError{
    color:red;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}
.SignUp {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.ForgetPassword{
    padding-top: 1rem;
    text-align: center;
}